# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code related
.vscode/

# Packages
.packages

# Pubspec
pubspec.lock

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.generated/
build/
ios/Flutter/.last_build_id

# iOS related
**/ios/**/*.generated.*
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/podhelper.rb
ios/Pods/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcshareddata/
ios/Runner.xcworkspace/

# Android related
**/android/**/gradle-wrapper.jar
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/key.properties
android/local.properties

# Web related
web/favicon.png
web/icons/
web/images/
web/splash/
web.spa/

# macOS related
**/macos/Flutter/ephemeral/
**/macos/Flutter/Flutter.framework
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral.swift
**/macos/Flutter/flutter_export_environment.sh
**/macos/Pods/
**/macos/Runner.xcodeproj/
**/macos/Runner.xcworkspace/
**/macos/Flutter/Flutter-Generated.xcconfig
macos/Flutter/ephemeral/

# Linux related
linux/flutter/
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h

# Windows related
windows/flutter/
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/runner/Generated Files/

# General
lib/generated_plugin_registrant.dart
